/* ---------------- SIMPLE BLOCK (Cheque 1) ---------------- */
.simpleBlock {
  padding: 8px 0 20px 0;
}

.simpleTitle {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-bottom: 4px;
}

.simpleLine {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-bottom: 16px;
}

.simpleContent {
  width: 100%;
}

/* ---------------- FIELDSET BLOCK (Cheque 2+) ---------------- */
.fieldsetBox {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin-bottom: 20px;
}

.legendWrapper {
  width: 100%;
}

.legendRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legendTag {
  border-radius: 23px;
  padding: 4px 12px;
  border: 1px solid #bfbfbf;

  font-size: 12px;
  cursor: pointer;
;
    color: #787800;
    background: #FFFED8;
    cursor: pointer;
}

.activeTag {
  background: #3425ff;
  color: white;
  border-color: #3425ff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.legendCross {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.fieldsetContent {
  margin-top: 12px;
}
