/* This CSS file now includes the new background image
  from your assets folder.
*/
.search_header_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  background-image: url("../../../../../assets/application-analytics/application_search_background.png");
  background-size: cover; /* Make the image cover the whole div */
  background-position: center; /* Center the image */
  border-radius: 8px; 
  padding: 24px; 
  border: 1px solid #DDDDDD

}

.application_search_header {
  color: #000;
  font-weight: bold;
  font-size: 28px;
}

.application_sub_text{
  color: #353535;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;
  margin-bottom:5px;
}