.employeeInfoContent {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between items vertically */
  padding:0px 10px 10px 10px
}
.employeedetails {
  font-weight: 700;
  color: #000000;
  font-size: 12px;
}

.employeelabel {
  font-size: 12px;
  color: #777777;
}
.employeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 10px; /* Space between the grid items */
}

.item {
  display: flex;
  flex-direction: column;
}
.divider {
  border: none;
  border-top: 1px solid #e0e0e0; /* light gray line */
  margin: 12px 0; /* spacing above and below */
}

.campusInfoConatiner{
  border:1px solid #e20606;
  border-radius: 10px;
  box-shadow: 4px -4px 16px 0 rgba(245, 61, 64, 0.4), -4px 4px 16px 0 rgba(67, 50, 255, 0.4);
  position: relative;
  border-radius: 12px;


  /* background image fix */
background-image: 
  url("../../../../../assets/RightSideInformation Icons/BaackgroundImage.svg");
background-repeat: no-repeat;
background-position: right top;
background-size: 50px auto;

}
.addressContainer {
  display: flex;
  align-items: center;           /* Align everything vertically center */
  justify-content: space-between;
  gap: 5px;
  margin:2px;
  /* padding: 0px 0px 14px 0px; */


}



/* Address text section */
.addressDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;      /* vertically center inside container */
}

.addressTitle {
  font-size: 12px;
  color: #666;
  margin-bottom: 2px;
}

.companyname {
  font-weight: 600;
  color: #262626;
  font-size: 13px;
}

.fullAddress {
  font-size: 12px;
  color: #333;
}

/* Right-side icons */
.rightIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rightIcons img {
  /* width: 22px;
  height: 22px; */
  cursor: pointer;
  /* padding: 5px; */
}




