.employeeInfoContent {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between items vertically */
  padding:0 13px 0 13px; 
  
}

.employeedetails {
  font-weight: 700;
  color: #000000;
  font-size: 12px;
}

.employeelabel {
  font-size: 12px;
  color: #777777;
}

.employeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 10px; /* Space between the grid items */
}

.item {
  display: flex;
  flex-direction: column;
}
.divider {
  border: none;
  border-top: 1px solid #e0e0e0; /* light gray line */
  margin: 12px 0; /* spacing above and below */
}
.addressContainer {
  display: flex;
  align-items: center;           /* Align everything vertically center */
  justify-content: space-between;
  gap: 5px;
  padding-left:  14px;
  padding-right:  14px;
  padding-bottom: 14px;


}



/* Address text section */
.addressDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;      /* vertically center inside container */
}

.addressTitle {
  font-size: 12px;
  color: #666;
  margin-bottom: 2px;
}

.companyname {
  font-weight: 600;
  color: #262626;
  font-size: 13px;
}

.fullAddress {
  font-size: 12px;
  color: #333;
}

/* Right-side icons */
.rightIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rightIcons img {
  /* width: 22px;
  height: 22px; */
  cursor: pointer;
  /* padding: 5px; */
}




